if status is-interactive
{{- if eq .chezmoi.os "linux" }}
    mise activate fish | source
{{ end }}
    # Shell integrations
    starship init fish | source
    zoxide init fish --cmd cd | source
    atuin init fish --disable-up-arrow | source

    # Aliases
    alias v="nvim"
    alias vim="nvim"
    alias g="git"
    alias gs="git status"
    alias gd="git diff"
    alias lg="lazygit"

    alias ls="eza --icons"
    alias l="eza -la --icons --git"
    alias ll="eza -l --icons --git"
    alias tree="eza --tree --icons --level=2"
    alias cat="bat"
end

set PATH $PATH $HOME/.local/bin
